{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
<!--
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-python" class="alert-link">Getting Started with Python on Heroku</a> tutorial.
  </div>
  <hr>
-->
  {% for noticia in noticias %}
  <div class="row">
    <div class="col-md-8">
      <h4><span class="glyphicon glyphicon-info-sign"></span> <a href="/news/{{noticia.id}}">{{noticia.titulo}}</a> - {{noticia.publicacao}}</h4>
    </div>
  </div> <!-- row -->
  {% endfor %}
   <div class="alert alert-info text-center" role="alert">
    Aplicação desenvolvida para prova de conceito de algoritmo de identificação de similaridade em textos. Código fonte disponível no <a href="https://github.com/rodrigovilela/aed">github</a>.
  </div>
</div>
{% endblock %}
