{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <!--
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    -->
    <h1>Busca de Notícias</h1>
    <!--
    <p>This is a sample Python application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python"><span class="glyphicon glyphicon-flash"></span> Getting Started with Python</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/python-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
    -->
    <form class="form-inline">
      <input type="text" id="termo" class="form-control form-control-lg" name="termo" size="50"/>
      <button type="submit" class="btn btn-primary mb-2">Buscar</button>
    </form>
  </div>
</div>
<div class="container">
<!--
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-python" class="alert-link">Getting Started with Python on Heroku</a> tutorial.
  </div>
  <hr>
-->
  <div class="row">
    <div class="col-md-8">
      <h3><span class="glyphicon glyphicon-info-sign"></span> {{noticia.titulo}}</h3>
      <ul>
        <p>{{noticia.texto}}</p>
      </ul>
    </div>
    <div class="col-md-4">
      <h3><span class="glyphicon glyphicon-link"></span> Notícias relacionadas</h3>
      <ul>
        {% for relacionada in relacionadas %}
            <li><a href="/news/{{relacionada.id}}">{{relacionada.titulo}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Aplicação desenvolvida para prova de conceito de algoritmo de identificação de similaridade em textos. Código fonte disponível no <a href="https://github.com/rodrigovilela/aed">github</a>.
  </div>
</div>
{% endblock %}
