{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
<!--
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-python" class="alert-link">Getting Started with Python on Heroku</a> tutorial.
  </div>
  <hr>
-->
  <div class="row">
    <div class="col-md-8">
      <h3><span class="glyphicon glyphicon-info-sign"></span> {{noticia.titulo}}</h3>
      <ul>
        <p>{{noticia.texto}}</p>
      </ul>
    </div>
    <div class="col-md-4">
        <div class="row">
            <h3><span class="glyphicon glyphicon-fullscreen"></span><a href="/news-arvore/{{noticia.id}}"> Abrir árvore de similaridade</a></h3>
        </div>
        <div class="row">
            <br>
        </div>
        <div class="row">
          <h3><span class="glyphicon glyphicon-link"></span> Notícias relacionadas:</h3>
          <ul>
            {% for similar in noticia.noticias_similares %}
                <li><a href="/news/{{similar.noticia_similar.id}}">{{similar.noticia_similar.titulo}} ({{similar.percentual}}%)</a></li>
            {% endfor %}
          </ul>
        </div>
    </div>

  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Aplicação desenvolvida para prova de conceito de algoritmo de identificação de similaridade em textos. Código fonte disponível no <a href="https://github.com/rodrigovilela/aed">github</a>.
  </div>
</div>
{% endblock %}
